h2{
    color: orange;
}
body{
    background-color: rgb(2, 8, 34);
    color: white;
    font-family: Arial , Helvetica, sans-serif;
    text-align: center;
}
header{
    border-bottom: 1px solid gray;
}
footer{
    border-top: 1px solid gray;
}
#nome-usuário{
    font-weight: bold;
}
.texto-ingles{
    font-style: italic;
}